<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<link href="main.css" rel="stylesheet"></link>
	</head>
	
	<div ng-app="chaos-quest" ng-controller="monstersCtrl">
		<table width=100%>
			<tr> 
				<td><b><u>Name</b></u></td>
				<td><b><u>HP</b></u></td>
				<td><b><u>Str</b></u></td>
				<td><b><u>Int</b></u></td>
				<td><b><u>Move</b></u></td>
				<td><b><u>Equipment</b></u></td>
				<td><b><u>Abilities</b></u></td>
			</tr>
			<tr ng-repeat="monster in monsters">
				<td>{{monster.Name}}</td>
				<td>{{monster.HP}}</td>
				<td>{{monster.Str}}</td>
				<td>{{monster.Int}}</td>
				<td>{{monster.Move}}</td>
				<td>
					<span ng-repeat="item in monster.Equipment">
						{{item}}
					</span>
				</td>
				<td>
					<span ng-repeat="ability in monster.Abilities">
						{{ability}}
					</span>
				</td>
			</tr>
		</table>
		<br>
	</div>

	<body>
		<script src="monsters.json"></script>
		<script src="CQApp.js"></script>
		<script src="monsters.js"></script>
	</body>
</html>
